body {
    background: hsl(212, 45%, 89%);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 15px;
}
#info {
    height: 500px;
    width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
#QR {
    height: 50%;
    width: 90%;
    border-radius: 10px;
}
#improve {
    text-align: center;
}
#scan {
    text-align: center;
}